* {
    background-color: rgb(48, 41, 35);
}

.nav_bar {
    padding: 4px;
    display: flex;
    margin-left: 12%;
    margin-right: 12%;
    justify-content: space-between;
}

.items {
    display: flex;
    color: rgb(161, 165, 165);
    /* border: 2px  solid white; */
    list-style-type: none;
    flex: 1; 
    justify-content: end;
}

.item {
    text-decoration: none;
    color: white;
    font-size: large;
    margin-left: 25px;
    margin-right: 25px;
}

.but {
    border: 2px solid  burlywood;
    text-decoration: none;
    margin-bottom: 10px;
    padding: 14px;
    border-radius: 6px;
    color: burlywood;
    font-weight: bold;
    width: 130px;
    font-size: large;
    text-align: center;
}

main {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    color: white;
    justify-content: space-center;
    padding: 5%;
}

.bold {
    /* flex: 1; */
    font-size:350%;
    padding: 10px;
    margin-right: 10%;
}

.text {
    margin-right: 10%;
    font-size: large;
    padding: 6px;
}

.image {
    width: 150vh;
    margin-left: 12%;
}

